.app-container{
    display: flex;
}
.content{
    width: 100%;
}
.sidebar{
    min-height: 800px;
}
.postlist{
    display: flex;
    gap: 4rem;
    margin-left: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

h2{
    text-align: center;
    padding: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hashtag{
    margin: 2.5px;
}
.WellcomeMsg{
    margin: 10px 0 0 0;
}